{% extends '::layout.html.twig' %}

{% block title 'Modificar datos personales' %}
{% block content %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{{ path('portada') }}"><i class="fa fa-home fa-2x"></i></a></li>
            {% if is_granted('ROLE_ADMIN') %}
                <li><a href="{{ path('usuario_listar') }}">Listado de usuarios</a></li>
                <li class="active">{{ usuario.id ? usuario : 'Nuevo usuario' }}</li>
            {% else %}
                <li class="active">Modificar datos personales</li>
            {% endif %}
        </ol>

        <h1 class="well">{{ usuario.id ? 'Datos del usuario' : 'Nuevo usuario' }}</h1>

        {{ form(formulario) }}
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('usuario_listar') }}" class="btn btn-info">Volver a la lista de usuarios</a>
        {% else %}
            <a href="{{ path('portada') }}" class="btn btn-info">Volver a la portada</a>
        {% endif %}
        {% if is_granted('ROLE_PERMITE_IMPERSONAR') %}
            <a href="{{ path('portada', {'_acceder_como': usuario.nombreUsuario}) }}" class="btn btn-warning"><i class="fa fa-user-secret"></i>Acceder como el usuario</a>
        {% endif %}
    </div>
{% endblock %}
