{% extends '::layout.html.twig' %}

{% block title 'Listado de grupos' %}
{% block content %}
    <ol class="breadcrumb">
        <li><a href="{{ path('portada') }}"><i class="fa fa-home fa-2x"></i></a></li>
        <li class="active">Listado de grupos</li>
    </ol>

    <h1 class="well">Listado de grupos del centro</h1>

    {% embed 'AppBundle:App:partial_listar_resumen.html.twig' %}
        {% block lista_item "Grupo" %}
        {% block lista_extra_cabecera %}<th></th>{% endblock %}
        {% block lista_extra_fila %}<td><a href="{{ path('grupo_modificar', {'grupo': item[0].id}) }}" class="btn btn-default btn-xs btn-block"><i class="fa fa-edit"></i> Modificar</a></td>{% endblock %}
    {% endembed %}

    {% if is_granted('ROLE_ADMIN') %}<a href="{{ path('grupo_nuevo') }}" class="btn btn-success"><i class="fa fa-plus"></i> Crear un grupo</a>{% endif %}

    <h1 class="well">Listado de niveles del centro</h1>

    {% set items = items2 %}
    {% embed 'AppBundle:App:partial_listar_resumen.html.twig' %}
        {% block lista_item "Curso" %}
            {% block lista_extra_cabecera %}<th></th>{% endblock %}
            {% block lista_extra_fila %}<td><a href="{{ path('curso_modificar', {'curso': item[0].id}) }}" class="btn btn-default btn-xs btn-block"><i class="fa fa-edit"></i> Modificar</a></td>{% endblock %}
    {% endembed %}

    {% if is_granted('ROLE_ADMIN') %}<p><a href="{{ path('curso_nuevo') }}" class="btn btn-success"><i class="fa fa-plus"></i> Crear un curso</a></p>{% endif %}

    <a href="{{ path('portada') }}" class="btn btn-info">Volver a la portada</a>
{% endblock %}
