{% extends '::layout.html.twig' %}

{% block title 'Detalles de un parte' %}
{% block content %}
    <ol class="breadcrumb">
        <li><a href="{{ path('portada') }}"><i class="fa fa-home fa-2x"></i></a></li>
        <li><a href="{{ path('parte_listar') }}">Gestionar partes</a></li>
        <li class="active">Parte #{{ parte.id }}</li>
    </ol>

    <h1 class="well">Detalles del parte</h1>

    {% if parte.sancion %}
        <div class="alert alert-warning" role="alert">
            <strong>¡Atención!</strong> El parte ya ha sido sancionado, sólo desde Jefatura de estudios podrá ser modificado.
        </div>
    {% endif %}
    {{ form(formulario_parte) }}

    {% include 'AppBundle:Parte:partial_avisos.html.twig' %}

    {% if parte.observaciones | length == 0 %}
        <div class="panel-heading">
            <h3 class="panel-title">Observaciones</h3>
        </div>
    {% endif %}

    {% include 'AppBundle:Parte:partial_observaciones.html.twig' %}

    {{ form(formulario_observacion) }}

    {% if parte.sancion %}
        <h1 class="well">Sanción</h1>
        {% set sancion = parte.sancion %}
        {% include 'AppBundle:Sancion:partial_sancion.html.twig' %}
    {% endif %}

    <a href="{{ path('parte_listar') }}" class="btn btn-info"><i class="fa fa-arrow-left"></i> Volver al listado de partes</a>&nbsp;<a href="{{ path('parte_detalle_pdf', { 'parte': parte.id }) }}" class="btn btn-primary" target="_blank"><i class="fa fa-print"></i> Imprimir el parte</a>

{% endblock %}
