{% extends '::layout.html.twig' %}

{% block title 'Notificar parte' %}
{% block content %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{{ path('portada') }}"><i class="fa fa-home fa-2x"></i></a></li>
            <li class="active">Listado de partes pendientes de notificar</li>
        </ol>

        <h1 class="well">Listado de partes pendientes de notificar</h1>

        <table class="table table-bordered table-hover table-striped table-responsive listado">
            <thead>
            <tr>
                <th class="col-md-1">Núm.</th>
                <th class="col-md-1">Fecha y hora</th>
                <th class="col-md-4">Alumnado implicado</th>
                <th class="col-md-6">Detalle del incidente</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for parte in partes %}
                <tr>
                    <td>{{ parte.id }}</td>
                    <td>{{ parte.fechaSuceso | date('d/m/Y H:i') }}</td>
                    <td>
                        {% for alumno in parte.alumnos %}
                            {{ alumno }}{% if not loop.last %}; {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {{ (parte.anotacion |length > 210 ? parte.anotacion|slice(0, 200)|striptags ~ ' ...' : parte.anotacion) | nl2br }}
                    </td>
                    <td>
                        <a href="{{ path('parte_notificar', {'id': parte.id }) }}" class="btn btn-warning">Notificar</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">No hay partes pendientes</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
