{% extends '::layout.html.twig' %}

{% block title 'Notificar parte' %}
{% block content %}
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{{ path('portada') }}"><i class="fa fa-home fa-2x"></i></a></li>
            <li><a href="{{ path('parte_listado_notificar') }}">Listado de partes pendientes de notificar</a></li>
            <li class="active">Notificación de partes a las familias</li>
        </ol>

        <h1 class="well">Notificación de partes a las familias</h1>

        {% if not pendientes %}
            <div class="alert alert-warning alert-dismissable">
                <strong>Advertencia: </strong>El parte está marcado como notificado y por tanto puede
                ser objeto de revisión por la Comisión de Convivencia en cualquier momento
            </div>
        {% endif %}
        
        <form class="form-inline">
            {% for alumno in parte.alumnos %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ alumno }}</h3>
                    </div>
                    <ul class="list-group">
                        {% if alumno.tutor1 %}
                            <li class="list-group-item"><strong>Tutor 1: </strong>{{ alumno.tutor1 }}</li>
                        {% endif %}
                        {% if alumno.tutor2 %}
                            <li class="list-group-item"><strong>Tutor 2: </strong>{{ alumno.tutor2 }}</li>
                        {% endif %}
                        {% if alumno.telefono1 %}
                            <li class="list-group-item">
                                <strong>Teléfono 1: </strong>{{ alumno.telefono1 }}
                                {{ alumno.notaTelefono1 ? '-' ~ alumno.notaTelefono1 }}
                            </li>
                        {% endif %}
                        {% if alumno.telefono2 %}
                            <li class="list-group-item">
                                <strong>Teléfono 2: </strong>{{ alumno.telefono2 }}
                                {{ alumno.notaTelefono2 ? '-' ~ alumno.notaTelefono2 }}
                            </li>
                        {% endif %}
                    </ul>
                    <div class="panel-footer">

                        <div class="form-group">
                            <label for="_metodo">Método de notificación: </label>
                            <select name="_metodo" class="form-control" data-placeholder="Escoja una opción...">
                                <option value="1">SMS</option>
                                <option value="2" selected>Llamada telefónica</option>
                                <option value="3">Correo electrónico</option>
                                <option value="4">Entrevista personal</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="_observaciones">Email address</label>
                            <input type="text" class="form-control" id="_observaciones" placeholder="Observaciones...">
                        </div>
                        <button type="submit" class="btn btn-success">Familia notificada</button>
                        <button type="submit" class="btn btn-warning">Familia no notificada</button>

                    </div>
                </div>
            {% endfor %}
        </form>
    </div>
{% endblock %}
