<div class="panel-heading">
    <h3 class="panel-title">
        {% if marcar %}<input type="checkbox" class="casilla" name="{{ marcar.full_name }}" value="{{ parte.id }}" {{ marcar.checked ? 'checked' }}>{% endif %}
        <strong>Parte #{{ parte.id }}</strong> - Registrado por {{ parte.usuario }}
        - {{ parte.fechaSuceso | date('d/m/Y H:i') }}
        {% if parte.fechaAviso %} - Notificado el {{ parte.fechaAviso | date('d/m/Y H:i') }}{% endif %}
        {% if parte.prescrito %} - <strong>Prescrito</strong>{% endif %}
        </h3>
    <ul>
        {% for conducta in parte.conductas %}
            <li>{{ conducta.descripcion }} - {{ conducta.categoria.descripcion }}</li>
        {% endfor %}
    </ul>
    <div class="alert alert-warning">
        {{ parte.anotacion | nl2br }}
    </div>
</div>
{% if parte.hayExpulsion %}
    <div class="panel-heading">
        <p>
            <strong>Expulsión del aula</strong>
        </p>
        {% if parte.actividades %}
        <strong>Actividades para realizar:</strong> {% if parte.actividadesRealizadas == true %}Se hicieron{% elseif parte.actividadesRealizadas is not null %}No se hicieron{% endif %}
        <div class="alert alert-warning">
            {{ parte.actividades | nl2br }}
        </div>
        {% endif %}
    </div>
{% endif %}
{% include 'AppBundle:Parte:partial_observaciones.html.twig' %}
{% include 'AppBundle:Parte:partial_avisos.html.twig' %}
