<div class="panel-heading">
    <h3 class="panel-title">
        {% if marcar %}<input type="checkbox" class="casilla" name="marcar[]" value="{{ parte.id }}">{% endif %}
        Parte #{{ parte.id }}
        - {{ parte.fechaSuceso | date('d/m/Y H:i') }}
        {% if parte.fechaAviso %} - Notificado el {{ parte.fechaAviso | date('d/m/Y H:i') }}{% endif %}
        </h3>
    <ul>
        {% for conducta in parte.conductas %}
            <li>{{ conducta.descripcion }} - {{ conducta.categoria.descripcion }}</li>
        {% endfor %}
    </ul>
    <div class="alert alert-warning">
        {{ parte.anotacion | nl2br }}
    </div>
</div>
{% if parte.hayExpulsion %}
    <div class="panel-heading">
        <p>
            <strong>Expulsión del aula atendida por: </strong>{{ parte.profesorGuardia }}
        </p>
        {% if parte.actividades %}
        <strong>Actividades a realizar:</strong>
        <div class="alert alert-warning">
            {{ parte.actividades | nl2br }}
        </div>
        {% endif %}
    </div>
{% endif %}

{% if (parte.avisos | length) > 0 %}
    <div class="panel-heading">
        <h3 class="panel-title">Avisos realizados</h3>
    </div>
    <table class="table table-hover table-striped table-condensed table-responsive listado">
        <thead>
        <tr>
            <th class="col-md-2">Fecha y hora</th>
            <th class="col-md-2">Tipo</th>
            <th class="col-md-4">Por</th>
            <th class="col-md-4">Observaciones</th>
        </tr>
        </thead>
        <tbody>
        {% for aviso in parte.avisos %}
            <tr>
                <td>{{ aviso.fecha | date('d/m/Y H:i') }}</td>
                <td>{{ aviso.tipo.descripcion }}</td>
                <td>{{ aviso.usuario }}</td>
                <td>{{ aviso.anotacion | nl2br }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}