{% extends '::layout.html.twig' %}

{% block title 'Alumnado pendiente de sanción' %}
{% block content %}
    <ol class="breadcrumb">
        <li><a href="{{ path('portada') }}"><i class="fa fa-home fa-2x"></i></a></li>
        <li class="active">Alumnado pendiente de sanción</li>
    </ol>
    <h1 class="well">Partes pendientes de sancionar</h1>
    <table class="table table-bordered table-hover table-striped table-condensed table-responsive listado">
        <thead>
        <tr>
            <th class="col-md-7">Estudiante</th>
            <th class="col-md-3">Fechas</th>
            <th class="col-md-1">Partes a considerar</th>
            <th class="col-md-1"></th>
        </tr>
        </thead>
        <tbody>
        {% for alumno in alumnos %}
            <tr>
                <td>{% if alumno[4]>0 %}<span class="text-danger">{% endif %}{{ alumno[0] }}{% if alumno[4]>0 %}</span>{% endif %}</td>
                <td>
                    {{ alumno[2] | date('d/m/Y') }}
                    {% if alumno[2] != alumno[3] %}
                        a {{ alumno[3] | date('d/m/Y') }}
                    {% endif %}
                </td>
                <td>{{ alumno[1] }}</td>
                <td>
                    <a href="{{ path('parte_sancionar', {'alumno': alumno[0].id }) }}" class="btn btn-warning btn-sm btn-block"><i class="fa fa-gavel"></i> Sancionar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No hay alumnado con partes pendientes</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('portada') }}" class="btn btn-info"><i class="fa fa-arrow-left"></i> Volver a la portada</a>
{% endblock %}
